_old/

node_modules/  
dist/  
out/  
tmp/  
temp/  
  
# logs  
*.log  
npm-debug.log*  
yarn-debug.log*  
pnpm-debug.log*  
  
# OS/IDE  
.DS_Store  
Thumbs.db  
.vscode/  
.idea/  
  
# env/config  
.env  
.env.*  
  
# tests/coverage  
coverage/  

# typescript
node_modules/
dist/
release/